/*for font only*/
@import url('https://googleapis.com');


/* Body becomes the gallery container */
html{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #87CEFA, #1E90FF);
    background-attachment: fixed;
}

body {
    color: white;
    display: flex;
    flex-wrap: wrap;              /* allows wrapping on small screens */
    justify-content: center;      /* centers horizontally */
    align-items: flex-start;
    gap: 30px;                    /* space between images */
    height: 100%;
}


/* Title takes full width */
h2 {
    width: 100%;                  /* forces it to stay on top */
    text-align: center;
    margin: 40px 0 10px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2), 6px 6px rgba(0, 0, 0, 0.19);;
}

/* Each image card */
figure {
    width: 260px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure:hover {
    transform: scale(1.05);
}

/* Image */
img {
    width: 100%;
    border-radius: 8px;
}

/* Caption */
figcaption {
    font-size: 0.8rem;
    margin-top: 8px;
    color: #4d4d4d;
    font-weight: 500;
}